.G3HD {
    display: flex;
    background-color: rgb(48, 1, 48);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.G3H1{
    text-align: center;
    text-wrap: wrap;
    font-size: 30px;
    color: white;
    font-weight: 400;
}
/* Typing.jsx */
.Test {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.IP {
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.PP {
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
    text-wrap: wrap;
}
.Result {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.PP1 {
    font-weight: bold;
    font-size: 14px;
}
.active {
    border-bottom: 3px solid blue;
}
span.correct {
    background-color: rgb(175, 250, 175);
}
span.wrong {
    background-color: rgb(255, 169, 169);
}
.TA {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(48, 1, 48);
    color: white;
}
@media screen and (width <= 600px) {
    .Result {
        flex-direction: column;
    }
}